/* Первая секция */
.page {
	width: 100%;
	min-height: 100vh;
	background-color: #fff;
}

.navigation {
	height: 44px;
	max-width: 1234px;
	margin: auto;
	display: flex;
	align-items: center;
	background-color: #f6f7f8;
}

.breadcrumb {
	display: flex;
	align-items: center;
	gap: 4px;
	padding-top: 20px;
	color: rgba(0, 0, 0, 0.54);
	font-family: Roboto, sans-serif;
	font-size: 13px;
}

.breadcrumb-item {
	font-size: 13px;
}

.chevron-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.chevron {
	width: 16px;
	height: 16px;
}

.content {
	min-height: 904px;
	background-color: #f6f7f8;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {
	max-width: 912px;
	margin: 0 auto;
	padding-top: 76px;
	text-align: center;
}

.hero-title {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 43px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 30px;
}

.hero-description {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 24px;
	max-width: 735px;
	margin: 0 auto;
}

.cta-container {
	display: flex;
	justify-content: center;
	margin-top: 44px;
}

.primary-btn {
	width: 157px;
	height: 56px;
	border-radius: 12px;
	color: #fffdfd;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	cursor: pointer;
	background-color: #bf0603;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #bf0603;
}
.primary-btn:hover {
	background-color: #fff;
	color: #bf0603;
	border: 1px solid #bf0603;
}

.card-showcase {
	position: relative;
	margin-top: 64px;
	margin: 64px 0 0;
	padding: 0;
}

.card-image {
	width: 100%;
	max-width: 1104px;
	height: auto;
}

.feature-badge {
	position: absolute;
	top: 35px;
	right: 25px;
	width: 47px;
	height: 46px;
}

/* Картхолдер */
.promo-section {
	background-color: #ffffff;
	overflow: hidden;
}

.features-section {
	background-color: #f6f7f8;
	display: flex;
	padding: 24px 70px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.features-container {
	width: 1234px;
	max-width: 100%;
}

.features-grid {
	gap: 20px;
	display: flex;
}

.feature-card {
	flex: 1;
	border-radius: 24px;
	background-color: #ffffff;
	padding: 32px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
	color: #000000;
}

.feature-card-dark {
	background-color: #333333;
	color: #ffffff;
}

.feature-icon {
	width: 36px;
	height: 36px;
	border-radius: 11px;
	object-fit: contain;
}

.feature-title {
	font-size: 23px;
	font-weight: 500;
	line-height: 1;
	margin-top: 49px;
	margin-bottom: 0;
}

.feature-description {
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 19px;
	margin-bottom: 0;
}

.transfer-info {
	margin-top: 24px;
	gap: 3px;
	font-size: 15px;
	line-height: 2;
}

.highlight {
	color: #6ba4fa;
}

.promo-banner {
	background-color: #f6f7f8;
	display: flex;
	padding: 24px 70px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner-container {
	border-radius: 24px;
	background-color: #e2e8f0;
	width: 1234px;
	max-width: 100%;
	overflow: hidden;
	background-image: url(../img/2/cardholder.png);
	background-size: contain;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

.banner-content {
	display: flex;
	gap: 20px;
	padding: 48px;
}

.banner-text {
	flex: 0 0 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
	color: #000000;
}

.banner-title {
	font-size: 34px;
	font-weight: 500;
	line-height: 40px;
	margin: 0;
}

.banner-description {
	font-size: 15px;
	font-weight: 400;
	line-height: 2;
	margin-top: 19px;
}

.banner-button {
	border-radius: 8px;
	background-color: #ffffff;
	border: none;
	padding: 15px 18px;
	font-size: 15px;
	line-height: 1;
	margin-top: 76px;
	cursor: pointer;
}
.banner-button:hover {
	background-color: #bf0603;
	color: #fff;
}

.banner-images {
	flex: 0 0 60%;
	position: relative;
}

.image-container {
	position: relative;
	min-height: 320px;
}

.banner-image-main {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.image-overlay {
	position: relative;
	min-height: 320px;
	padding: 38px 80px 240px;
	display: flex;
	align-items: flex-end;
}

.banner-image-overlay {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.banner-icon {
	width: 29px;
	aspect-ratio: 0.69;
	object-fit: contain;
	position: relative;
	margin-bottom: -48px;
}

/* Получите Black */
.steps-process {
	width: 100%;
	background-color: #fff;
}

.steps-process__header {
	background-color: #f6f7f8;
	padding: 76px 0 24px;
	display: flex;
	justify-content: center;
}

.steps-process__title {
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 43px;
	font-weight: 700;
	line-height: 48px;
	max-width: 578px;
	width: 100%;
	margin: 0;
}

.steps-process__content {
	display: flex;
	justify-content: center;
	gap: 48px;
	padding: 52px 0;
	background-color: #f6f7f8;
}

.step-card {
	width: 336px;
	padding: 60px 32px 36px;
	border-radius: 24px;
	position: relative;
	display: flex;
	justify-content: center;
	background-color: #fff;
}

.step-card__number {
	position: absolute;
	top: -28px;
	width: 56px;
	height: 56px;
	border-radius: 17.5px;
	background-color: #333;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

.step-card__description {
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	max-width: 271px;
	margin: 0;
}

/* Форма */
.container {
	display: flex;
	width: 1234px;
	margin: 24px auto;
	border-radius: 24px;
	border-top: 5px solid #333;
	box-shadow: 0 12px 12px rgba(0, 0, 0, 0.21);
	background-color: #fff;
	position: relative;
}

.left-panel {
	width: 456px;
	border-radius: 24px 0 0 24px;
	padding: 34px 36px;
	background-color: #eaecee;
}

.card-title {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 41px;
}

.card-preview {
	width: 274px;
	height: 174px;
	border-radius: 16px;
	border: 1px solid rgba(0, 16, 36, 0.12);
	position: relative;
	margin: 0 auto 44px;
}

.debit-card-image {
	width: 272px;
	height: 172px;
	position: absolute;
	left: 1px;
	top: 1px;
	border-radius: 15px;
}

.card-chip {
	width: 28px;
	height: 71px;
	position: absolute;
	right: 14px;
	top: 15px;
}

.cashback-info {
	height: 76px;
	border-radius: 16px;
	padding: 16px;
	display: flex;
	align-items: center;
	gap: 16px;
	background-color: #f6f7f8;
}

.cashback-icon {
	width: 32px;
	height: 32px;
	background-color: #bf0603;
	color: #fff;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.cashback-text {
	flex-grow: 1;
}

.cashback-title {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 17px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
}

.cashback-subtitle {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}



.progress-section {
	margin-bottom: 30px;
	position: relative;
}

.progress-text {
	color: rgba(0, 0, 0, 0.54);
	font-family: Roboto, sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}

.progress-percentage {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 19px;
	font-weight: 500;
	line-height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}

.progress-bar {
	height: 8px;
	border-radius: 4px;
	margin-top: 8px;
	position: relative;
	overflow: hidden;
	background-color: #f6f7f8;
}

.progress-bar-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(66, 139, 249, 0.12);
}

.progress-bar-fill {
	position: absolute;
	width: 5%;
	height: 100%;
	border-radius: 4px;
	background-color: #428bf9;
}

.section-title {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 19px;
}

.card-designs {
	display: grid;
	grid-template-columns: repeat(4, 128px);
	gap: 8px;
	margin-bottom: 40px;
}

.card-design {
	width: 128px;
	height: 83px;
	border-radius: 6px;
	overflow: hidden;
	border: 3px solid transparent;
	cursor: pointer;
	padding: 0;
	background: none;
}

.card-design.active {
	border-color: #bf0603;
}

.design-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.form-section {
	margin-top: 30px;
}

.form-field {
	border-radius: 12px;
	margin-bottom: 20px;
	padding: 16px;
	position: relative;
	background-color: rgba(36, 74, 127, 0.06);
	display: flex;
	flex-direction: column;
}

.category-select {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.field-text {
	color: rgba(0, 0, 0, 0.54);
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 24px;
}

.dropdown-icon {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.bonus-tag {
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 11px;
	line-height: 16px;
	padding: 2px 8px;
	border-radius: 20px;
	background-color: #00b92d;
}

.form-row {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.form-field.half {
	flex: 1;
	margin-bottom: 0;
}

.citizenship-section {
	margin: 36px 0;
	border: none;
	padding: 0;
}

.citizenship-title {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 24px;
}

.radio-group {
	display: flex;
	gap: 20px;
}

.radio-option {
	display: flex;
	align-items: center;
	width: 258px;
	height: 56px;
	border-radius: 12px;
	border: 1px solid rgba(0, 16, 36, 0.12);
	padding: 16px;
	position: relative;
	background-color: #fff;
	cursor: pointer;
}

.radio-text {
	color: rgba(0, 0, 0, 0.8);
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 24px;
}

.radio-button {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	position: absolute;
	right: 16px;
}

.radio-button.empty {
	background-color: transparent;
	border: 2px solid rgba(36, 74, 127, 0.08);
}

.radio-dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff8f8;
}

.form-divider {
	width: 536px;
	height: 1px;
	margin: 32px 0;
	background-color: rgba(36, 74, 127, 0.09);
	border: none;
}

.terms-section {
	color: rgba(0, 0, 0, 0.4);
	font-family: Roboto, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

.terms-text {
	margin: 0 0 4px;
}

.link {
	color: #126df7;
	text-decoration: none;
	cursor: pointer;
}

.submit-button {
	width: 115px;
	height: 56px;
	border-radius: 12px;
	color: #fff8f8;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	line-height: 20px;
	border: 1px solid #bf0603;
	cursor: pointer;
	position: absolute;
	right: 68px;
	bottom: 68px;
	background-color: #bf0603;
}
.submit-button:hover {
	background-color: #fff;
	color: #bf0603;
}

/* Покупайте как обычно */
.cashback-wrapper {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}

.hero-section {
	background-color: #f6f7f8;
	display: flex;
	padding: 82px 80px 28px;
	flex-direction: column;
	align-items: center;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
}

.hero-content {
	display: flex;
	width: 805px;
	max-width: 100%;
	flex-direction: column;
	align-items: stretch;
	margin-left: 33px;
}

.hero-title {
	font-size: 43px;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
}

.hero-description {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	align-self: center;
	margin-top: 30px;
	margin-bottom: 0;
}

.benefits-section {
	background-color: #f6f7f8;
	display: flex;
	padding: 24px 70px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.benefits-container {
	width: 1234px;
	max-width: 100%;
}

.benefits-grid {
	display: flex;
	gap: 48px;
}

.category-card {
	flex: 1;
	border-radius: 24px;
	background-color: #eaecee;
	padding: 35px 32px 35px;
	overflow: hidden;
}

.card-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.category-icon {
	width: 168px;
	height: auto;
	aspect-ratio: 3;
	object-fit: contain;
}

.category-title {
	font-size: 22px;
	font-weight: 500;
	line-height: 1;
	margin: 50px 0 0;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.cashback-text {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

/* Может быть полезно */
.helpful-resources {
	background-color: rgba(246, 247, 248, 1);
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

.section-title {
	padding: 82px 70px 34px;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
	font-size: 42px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	line-height: 1;
	margin: 0;
}

.resources-container {
	padding: 26px 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(246, 247, 248, 1);
}

.resources-grid {
	width: 452px;
	max-width: 100%;
	display: flex;
	gap: 20px;
}

.resource-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 50%;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.resource-icon {
	width: 36px;
	height: 36px;
	border-radius: 11px;
	object-fit: contain;
}

.card-title {
	font-size: 19px;
	font-weight: 500;
	line-height: 1;
	color: #000000;
}

.card-description {
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	margin: 13px 0 0;
	width: 100%;
}

.card-link {
	color: rgba(18, 109, 247, 1);
	font-size: 13px;
	line-height: 2;
	text-decoration: none;
	margin-top: 16px;
}

/* FAQ */
.faq-container {
	width: 100%;
	padding: 76px 0 24px;
	background-color: #f6f7f8;
}

.faq-header {
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto', sans-serif;
	font-size: 42px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
	margin-bottom: 24px;
}

.faq-content {
	display: flex;
	justify-content: center;
	padding: 24px 0;
}

.faq-card {
	width: 1234px;
	padding: 8px 24px;
	border-radius: 24px;
	background-color: #fff;
}

.faq-item {
	border-bottom: 1px solid #dddfe0;
	padding: 12px 0 11px;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 0;
	width: 100%;
	background: none;
	border: none;
	cursor: pointer;
}

.question-text {
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	text-align: left;
	margin: 0;
}

.chevron-icon {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
}
.faq-item[open] .chevron-icon {
	rotate: 180deg;
}

.accordion-content {
	display: grid;
	grid-template-rows: 0fr;
}
.accordion-content-body {
	overflow: hidden;
}
.faq-item[open] + .accordion-content {
	grid-template-rows: 1fr;
}
