*{
	font-family: Roboto;
}

.hero {
	padding: 200px 0;
	background-image: url(../img/1/main-bg.png);
	background-size: cover;
	background-position: center;
	position: relative;
	background-color: #f6f7f8;
}

.hero-content {
	max-width: 912px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 1;
	padding: 0 20px;
}

.hero-text {
	color: rgba(255, 255, 255, 0.8);
	font-size: 43px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 20px;
}

.hero-subtitle {
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 40px;
}

.primary-btn {
	color: #fff;
	border: none;
	border-radius: 12px;
	padding: 18px 40px;
	font-size: 15px;
	cursor: pointer;
	background-color: #bf0603;
	border: 1px solid #bf0603;
}
.primary-btn:hover {
	background-color: #fff;
	color: #bf0603;
	border: 1px solid #bf0603;
}

.nav-icons {
	display: flex;
	justify-content: center;
	gap: 8px;
	padding: 12px 0;
	flex-wrap: wrap;
	background-color: #f6f7f8;
}

.nav-icon-item {
	width: 100px;
	text-align: center;
	padding: 0 14px;
	text-decoration: none;
	border-radius: 12px;
}
.nav-icon-item:hover {
	background-color: #dfe1e4;
}

.nav-icon-img {
	width: 72px;
	height: 72px;
	margin-bottom: 10px;
}

.nav-icon-text {
	color: rgba(0, 0, 0, 0.8);
	font-size: 13px;
	opacity: 0.68;
	line-height: 20px;
	margin: 0;
}

.section-title {
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	font-size: 43px;
	font-weight: 700;
	line-height: 48px;
	padding: 76px 0 24px;
	background-color: #f6f7f8;
	margin: 0;
}

.products-section {
	background-color: #f6f7f8;
}

.products {
	display: flex;
	justify-content: center;
	gap: 48px;
	padding: 24px;
	flex-wrap: wrap;
}

.product-card {
	width: 528px;
	height: 408px;
	border-radius: 24px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
}

.product-card--platinum {
	background: url(https://cdn.builder.io/api/v1/image/assets/TEMP/82f08fa7368aab95a35f96c97c5b67a6ecd98c23)
		center/cover;
}

.product-card--investments {
	background: url(https://cdn.builder.io/api/v1/image/assets/TEMP/d0aadfdb1b406fd9cf9c411889f32025443c6fd4)
		center/cover;
}

.product-card--deposits {
	background: url(https://cdn.builder.io/api/v1/image/assets/TEMP/18237ec1bdcaaafa50b7ef71fef8e2db826692c7)
		center/cover;
}

.product-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.product-title {
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 16px;
	text-align: center;
}

.product-desc {
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 24px;
	text-align: center;
}
.product-content .secondary-btn {
	margin-top: auto;
}

.secondary-btn {
	color: rgba(0, 0, 0, 0.8);
	border: none;
	border-radius: 8px;
	padding: 14px 30px;
	font-size: 15px;
	width: fit-content;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid transparent;
}
.secondary-btn:hover {
	background-color: #bf0603;
	color: #fff;
	border: 1px solid #bf0603;
}

.outline-btn {
	display: block;
	margin: 24px auto 0;
	padding: 12px 24px;
	border: 1px solid rgba(0, 16, 36, 0.12);
	border-radius: 8px;
	background: none;
	color: rgba(0, 0, 0, 0.8);
	font-size: 15px;
	cursor: pointer;
}
.outline-btn:hover {
	background-color: #bf0603;
	color: #fff;
	border: 1px solid #bf0603;
}

.services {
	display: flex;
	justify-content: center;
	gap: 48px;
	padding: 24px;
	flex-wrap: wrap;
	background-color: #f6f7f8;
}

.service-card {
	width: 336px;
	border-radius: 24px;
	padding: 40px 32px;
	background-color: #fff;
}

.service-icon {
	margin-bottom: 44px;
}

.service-title {
	color: rgba(0, 0, 0, 0.8);
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 16px;
}

.service-desc {
	color: rgba(0, 0, 0, 0.8);
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 36px;
}

.service-link {
	color: #126df7;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
}

.relevant-now {
	background-color: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.current-news-header,
.development-header {
	background-color: #f6f7f8;
	padding: 83px 70px 24px;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
	font-size: 43px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	line-height: 1;
}

.news-grid-container {
	display: flex;
	justify-content: center;
	gap: 48px;
	padding: 24px;
	flex-wrap: wrap;
	background-color: #f6f7f8;
}

.news-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 24px;
	padding: 38px 32px;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
	width: 336px;
}

.card-dark {
	background-color: #747b8f;
	color: #ffffff;
}

.card-light {
	background-color: #ffffff;
	color: #000000;
}

.card-title {
	font-size: 23px;
	font-weight: 500;
	line-height: 28px;
	margin: 0;
}

.card-description {
	font-size: 15px;
	line-height: 24px;
	margin: 21px 0 0;
}

.card-link {
	font-size: 14px;
	line-height: 2;
	margin-top: 47px;
	text-decoration: none;
}

.card-link-light {
	color: #ffffff !important;
}

.card-link-blue {
	color: #126df7;
}

.card-link-dark {
	color: #000000;
	background-color: #ffffff;
	border-radius: 8px;
	padding: 15px 17px;
}

.more-articles {
	background-color: #f6f7f8;
	display: flex;
	padding: 24px 80px;
	justify-content: center;
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

/* Дополнительно и поиск */

.help-section {
	background-color: #fff;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}

.section-header {
	background-color: #f6f7f8;
	padding: 84px 70px 25px;
	font-size: 44px;
	color: #000;
	font-weight: 700;
	text-align: center;
	line-height: 1.1;
}

.card-section {
	background-color: #f6f7f8;
	padding: 24px 70px;
	display: flex;
	justify-content: center;
	gap: 48px;
}

.help-card,
.reviews-card {
	border-radius: 24px;
	background-color: #fff;
	padding: 34px 32px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 528px;
}

.card-icon {
	width: 36px;
	height: 36px;
	border-radius: 11px;
	object-fit: contain;
}

.card-title {
	font-size: 22px;
	font-weight: 500;
	line-height: 1;
	margin-top: 50px;
}

.card-description {
	font-size: 15px;
	line-height: 2;
	margin-top: 21px;
}

.card-link {
	color: #126df7;
	font-size: 15px;
	line-height: 1.6;
	margin-top: 66px;
	text-decoration: none;
}

.search-section {
	background-color: #f6f7f8;
	padding: 85px 80px 24px;
}

.search-title {
	font-size: 43px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
	margin-bottom: 24px;
}

.search-container {
	max-width: 1234px;
	margin: 0 auto;
}

.search-box {
	background-color: #fff;
	border-radius: 12px;
	padding: 16px;
	display: flex;
	align-items: center;
	gap: 12px;
}

.search-icon {
	width: 24px;
	height: 24px;
	object-fit: contain;
}

.search-input {
	border: none;
	outline: none;
	font-size: 15px;
	line-height: 1.6;
	width: 100%;
}

.quick-links {
	display: flex;
	margin: 32px 22px;
	gap: 8px;
	flex-wrap: wrap;
	justify-content: center;
}

.quick-link-btn {
	border: none;
	border-radius: 100px;
	background-color: rgba(66, 139, 249, 0.16);
	padding: 10px 14px;
	font-size: 13px;
	line-height: 1;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid transparent;
}
.quick-link-btn:hover {
	background-color: rgba(32, 104, 211, 0.5);
	border: 1px solid rgba(32, 104, 211, 0.5);
}

.burger-menu{
	display: none;
}
/* Hide desktop nav and show burger on small screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 28px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
	margin-left: 30px;
  }

  .burger-menu span {
    height: 3px;
    background: #333;
    border-radius: 2px;
  }

  .mobile-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 1000;
	border-radius: 16px;;
  }

  .mobile-nav a {
    padding: 10px 0;
    text-decoration: none;
    color: #333;
  }

  .mobile-nav.open {
    display: flex;
  }
}
